@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
	--margin-bottom: 18px;
}
body {
	max-width: 1440px;
	min-width: 375px;
	background-color: hsl(217, 54%, 11%);
	margin: 150px auto;
	font-family: "Outfit", sans-serif;
	color: hsl(215, 51%, 70%);
	background-color: white;
	font-weight: 400;
}
.main-image {
	width: 100%;
	border-radius: 10px;
	margin-bottom: var(--margin-bottom);
}
p {
	margin-bottom: var(--margin-bottom);
	font-size: 18px;
	font-weight: 300;
}
h1 {
	color: hsl(0, 0%, 100%);
	margin-bottom: var(--margin-bottom);
	font-weight: 600;
	font-size: 22px;
	letter-spacing: normal;
}
hr {
	border: 1px solid hsl(215, 32%, 27%);
	margin-bottom: 15px;
}

.container {
	width: 350px;
	margin: auto;
	padding: 22px;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: hsl(216, 50%, 16%);
}
.row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}
.row p {
	font-size: 16px;
}
.row p:first-child {
	color: hsl(178, 100%, 50%);
}
.credits {
	display: flex;
	align-items: center;
	font-size: 16px;
	margin-bottom: 12px;
}
.credits p {
	font-size: 16px;
	margin-left: 5px;
	margin-bottom: 0;
}
.credits span {
	color: white;
}
.credits img {
	width: 33px;
	height: 33px;
	margin-right: 10px;
	border: 1px solid white;
	border-radius: 50%;
}
